* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.wrapper {
  display: flex;
}

.wrapper {
  display: flex;
  margin-bottom: 20px;
  flex: 1 1 auto;
}

.content {
  flex-basis: 85%;
}

.btn {
  width: 120px;
  height: 50px;
  background: rgb(215, 253, 206);
  border: 2px solid rgb(162, 207, 152);
  border-radius: 6px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
}

.btn:active {
  background: rgb(144, 192, 133);
}

a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}






